<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/KiarashMinoo/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="github">
      <package pattern="ThunderPropagator*" />
    </packageSource>

    <packageSource key="nuget.org">
      <package pattern="Apache.NMS.*" />
      <package pattern="Ardalis.*" />
      <package pattern="Confluent.*" />
      <package pattern="DotPulsar" />
      <package pattern="FluentAssertions" />
      <package pattern="MessagePack" />
      <package pattern="Microsoft.*" />
      <package pattern="Moq" />
      <package pattern="MQTTnet" />
      <package pattern="NATS.*" />
      <package pattern="NetArchTest.*" />
      <package pattern="Newtonsoft.*" />
      <package pattern="OpenTelemetry*" />
      <package pattern="protobuf-net.*" />
      <package pattern="RabbitMQ.*" />
      <package pattern="Serilog*" />
      <package pattern="StackExchange.*" />
      <package pattern="xunit*" />
      <package pattern="YamlDotNet" />
    </packageSource>
  </packageSourceMapping>
</configuration>